<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Stock auction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">
    <!-- Modernizer JS-->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Pre Loader-->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">
        <div class="checkout-area pb-90 pt-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="billing-details">
                            <h4>Xác nhận thông tin giao dịch</h4>
                            <form action="/updateorder" method="POST" id="formUpdateOrder">
                                <input type="hidden" name="productID" value="<%= _uG.productID %>">
                                <label>Ghi chú:</label>
                                <textarea name="note"></textarea>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="order-payment">
                            <h4>Chi tiết giao dịch</h4>
                            <div class="single-product-wrap border" style="padding: 0px; margin-bottom: 30px;">
                                <div class="single-product-image" style="float: none">
                                    <div class="product-big-image tab-content">
                                        <div class="tab-pane active" id="pro-img-1">
                                            <img src="img/product/1.jpg" alt="" />
                                            <a class="pro-img-popup" href="img/product/1.jpg"><i class="zmdi zmdi-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-product-content" style="float: none; padding: 10px;">
                                    <h3 class="single-pro-title"><%= _uG.productName %></h3>
                                    <div class="single-product-price-ratting fix">
                                        <p style="font-weight: bold;">Giá đấu thành công:</p>
                                        <h3 class="single-pro-price float-left">
                                            <p class="new" style="color: red;"><%= _uG.auction.bids[_uG.auction.bids.length - 1].amount %></p>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h4>Phương thức thanh toán</h4>
                            <div class="panel-group" id="payment-accordion">
                                <div class="panel panel-default">
                                    <h4 class="panel-title bg-white">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#payment-accordion" href="#payment-3">Thanh toán khi nhận hành</a>
                                    </h4>
                                    <div id="payment-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Bạn sẻ chỉ phải thanh toán khi kiểm tra hàng OK.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="place-order" id="btnUpdateOrder">Xác nhận giao dịch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery JS -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script>
        $(document).ready(() => {
            $("#btnUpdateOrder").click(() => {
                $("#formUpdateOrder").submit()
            });
        });
    </script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
</body>

</html>