<div class="input-wrapper">
    <label for="">Nhập giá:</label>
    <input id="gia" type="text" name="price" placeholder="Giá">
</div>
<div class="input-wrapper">
    <label for="">Thời gian khởi động đấu giá:</label>
    <div class="form-group">
        <div class="input-group date" id="datetimepicker1">
            <input type="text" class="form-control" name="dateAuc" />
            <span class="input-group-addon">
                <span class="">Chọn ngày</span>
            </span>
        </div>
    </div>
</div>
<div class="input-wrapper">
    <label for="">Hạn cho mỗi lượt:</label>
    <input id="due" type="text" name="timerun" placeholder="Giây">
</div>