<div class="footer-top-area pb-70 pt-150">
        <div class="container">
            <div class="row">
                <div class="footer-contact col-md-8 col-sm-6 col-xs-12">
                    <img src="img/logo-2.png" alt="" />
                    <div>
                        <span>Địa chỉ :</span>
                        <p>12 Nguyễn Văn Bảo, phường 04, quận Gò Vấp, HCM</p>
                    </div>
                    <div>
                        <span>Hotline :</span>
                        <p>+84 000 0000</p>
                    </div>
                    <div>
                        <span>Email :</span>
                        <a href="#">contact-company@stock.com</a>
                    </div>
                    <div class="footer-social fix">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-shipping col-md-2 col-sm-3 col-xs-6">
                    <h4>CÁC LOẠI</h4>
                    <ul>
                        <li>
                            <a href="#">Xe cộ</a>
                        </li>
                        <li>
                            <a href="#">Đồ nội thất</a>
                        </li>
                        <li>
                            <a href="#">Đồ điện tử</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-shipping col-md-2 col-sm-3 col-xs-6">
                    <h4>
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Thời trang</a>
                        </li>
                        <li>
                            <a href="#">Giày</a>
                        </li>
                        <li>
                            <a href="#">Đồ cổ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>