<div class="header-area header-area-4  clearfix">
    <!-- Header Top 4 -->
    <div class="header-top header-top-4">
        <div class="container">
            <div class="row">
                <!-- Header Top Center 4 -->
                <div class="header-top-left header-top-left-8 col-xs-8 text-left">
                    <a href="index.html" class="logo-2">
                        <img src="img/logo.png" alt="logo" />
                    </a>
                </div>
                <!-- Header Top Right 4 -->
                <div class="header-top-right header-top-right-4 col-xs-4 text-right">
                    <!-- Header Top Link -->
                    <div class="header-top-link float-right hidden-sm hidden-xs">
                        <a href="#">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom 4 -->
    <div class="header-bottom sticky header-bottom sticky-4">
        <div class="container">
            <div class="row">
                <!-- Menu Wrapper 4 -->
                <div class="menu-wrapper menu-wrapper-4 text-center col-xs-12 hidden-sm hidden-xs">
                    <div class="menu menu-4">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/quanlysanpham">Quản lý sản phẩm</a>
                                </li>
                                <li>
                                    <a href="/quanlyhoadon">Quản lý hoá đơn</a>
                                </li>
                                <li>
                                    <a href="/quanlykhachhang">Quản lý khách hàng</a>
                                </li>
                                <li>
                                    <a href="/quanlydoanhnghiep">Quản lý doanh nhgiệp</a>
                                </li>
                                <li>
                                    <a href="/quanlyloaisanpham">Quản lý loại sản phẩm</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu Wrapper 2 -->
                <div class="mobile-menu-wrapper mobile-menu-wrapper-2 hidden-md hidden-lg col-xs-12">
                    <div class="mobile-menu mobile-menu-2">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/quanlysanpham">Quản lý sản phẩm đấu giá</a>
                                </li>
                                <li>
                                    <a href="/quanlyhoadon">Quản lý hoá đơn</a>
                                </li>
                                <li>
                                    <a href="/quanlykhachhang">Quản lý khách hàng</a>
                                </li>
                                <li>
                                    <a href="/quanlydoanhnghiep">Quản lý doanh nhgiệp</a>
                                </li>
                                <li>
                                    <a href="/quanlyloaisanpham">Quản lý loại sản phẩm</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>